<% title "Search results: #{params[:query]}" %>
<h3>Search results for <%= params[:query] %></h3>
<% if @quizzes.empty? %>
  No matching quizzes <br />
<% else %>
  <%= render :partial => "search_results" %>
<% end %>
<br />
