<% title "Profile: #{@user.username}" %>

<div class="one_col">
  <h2><%= @user.username %></h2>
  <small><%= @user.bio unless @user.bio.blank? %></small>
  <h4>Quizzes Taken: <%= @user.quiz_entries.count %></h4>
  <br />
  <p><i>User profile is set to private</i></p>
</div>