<div class="one_col">
<% title "Home" %>

<table width="640px">
  <tr>
    <td width="50%">
      <h2>New</h2>
      <%= render :partial=>"newest_results" %>
    </td>
    
    <td width="50%">
      <h2>Popular</h2>
      <%= render :partial=>"popular_results" %>
    </td>
  </tr>
</table>
<%= render :partial => "common/search" %>
</div>