<div class="one_col">
<% title "Home" %>

<h3>Featured quizzes:</h3>
<p>
<%= render :partial => "common/quizline", :collection => @featured %>
</p>
<h3>All public quizzes:</h3>
<p>
<%= render :partial => "common/quizline", :collection => @quizzes %>

<br />
<%= render :partial => "common/search" %>
<br /><br /></p>
</div>