<h3>Featured quizzes:</h3>
<%= render :partial => "common/quizline", :collection => @featured %>
<h3>All public quizzes:</h3>
<%= render :partial => "common/quizline", :collection => @quizzes %>
<br \>
<br \>
