<div id="footer-outer" class="clear"><div id="footer-wrap">
  <div class="col-a">

    <h3>Updates</h3>

      <ul class="subscribe-stuff">
      	<li><a title="RSS" href="index.html" rel="nofollow">
          <img alt="RSS" title="RSS" src="images/social_rss.png" /></a>
        </li>
      	<li><a title="Facebook" href="index.html" rel="nofollow">
          <img alt="Facebook" title="Facebook" src="images/social_facebook.png" /></a>
	</li>
        <li><a title="Twitter" href="index.html" rel="nofollow">
          <img alt="Twitter" title="Twitter" src="images/social_twitter.png" /></a>
        </li>
        <li><a title="E-mail this story to a friend!" href="index.html" rel="nofollow">
          <img alt="E-mail this story to a friend!" title="E-mail this story to a friend!" src="images/social_email.png" /></a>
        </li>
      </ul>

      <p>Connect with RoR quiz via
         <a href="index">Facebook</a>,
         <a href="index">Twitter</a> or <a href="index">Email</a>
      </p> 
    </div>

    <div class="col-a">
     <h3></h3>
      <div class="footer-list">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="index.html">FAQ</a></li>
          <li><a href="index.html">Usage Policy</a></li>
        </ul>
      </div>
   </div>

   <div class="col-a">
     <h3></h3>
     <div class="footer-list">
       <ul>
	 <li><a href="#">Support</a></li>
         <li><a href="#">Feedback</a></li>
       </ul>
     </div>
   </div>
<!--
   <div class="col-b">
     <h3></h3>
       <div class="footer-list">
         <ul>
	   <li><a href="index.html">January 2010</a></li>
	   <li><a href="index.html">December 2009</a></li>
	   <li><a href="index.html">November 2009</a></li>
	   <li><a href="index.html">October 2009</a></li>
	   <li><a href="index.html">September 2009</a></li>
         </ul>
       </div>
     </div>
--!>
<!-- /footer-outer -->
</div></div>

<!-- footer-bottom -->
<div id="footer-bottom">

  <p class="bottom-left">
    &copy; 2010 <strong>RoR Quiz</strong>&nbsp; &nbsp; &nbsp;
    <a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a>
  </p>

  <p class="bottom-right">
    <a href="http://jigsaw.w3.org/css-validator/check/referer">RSS</a> |
    <a href="index.html">Home</a> |
    <a href="index.html">Sitemap</a> |
    <strong><a href="#top">Back to Top</a></strong>
  </p>

<!-- /footer-bottom-->
</div>
