<div id="footer-outer" class="clear"><div id="footer-wrap">

	<div id="gallery" class="clear">

		<h3>Flickr Photos </h3>

		<p class="thumbs">
			<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
			<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
			<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
			<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
			<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
			<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
			<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
			<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
         <a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
			<a href="index.html"><img src="images/thumb.jpg" width="40" height="40" alt="thumbnail" /></a>
      </p>

    </div>

	 <div class="col-a">

		<h3>Contact Info</h3>

		<p>
		<strong>Phone: </strong>+1234567<br/>
		<strong>Fax: </strong>+123456789
		</p>

		<p><strong>Address: </strong>123 Put Your Address Here</p>
        <p><strong>E-mail: </strong>me@coolblue.com</p>
		<p>Want more info - go to our <a href="#">contact page</a></p>

      <h3>Updates</h3>

      <ul class="subscribe-stuff">
      	<li><a title="RSS" href="index.html" rel="nofollow">
				<img alt="RSS" title="RSS" src="images/social_rss.png" /></a>
			</li>
      	<li><a title="Facebook" href="index.html" rel="nofollow">
				<img alt="Facebook" title="Facebook" src="images/social_facebook.png" /></a>
			</li>
			<li><a title="Twitter" href="index.html" rel="nofollow">
				<img alt="Twitter" title="Twitter" src="images/social_twitter.png" /></a>
			</li>
			<li><a title="E-mail this story to a friend!" href="index.html" rel="nofollow">
				<img alt="E-mail this story to a friend!" title="E-mail this story to a friend!" src="images/social_email.png" /></a>
			</li>
      </ul>

      <p>Stay up to date. Subscribe via
		<a href="index">RSS</a>, <a href="index">Facebook</a>,
		<a href="index">Twitter</a> or <a href="index">Email</a>
		</p>

	</div>

	<div class="col-a">

   	<h3>Site Links</h3>

		<div class="footer-list">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="index.html">Style Demo</a></li>
				<li><a href="index.html">Blog</a></li>
				<li><a href="index.html">Archive</a></li>
				<li><a href="index.html">About</a></li>
				<li><a href="index.html">Template Info</a></li>
				<li><a href="index.html">Site Map</a></li>
			</ul>
		</div>

      <h3>Friends</h3>

		<div class="footer-list">
			<ul>
				<li><a href="index.html">consequat molestie</a></li>
				<li><a href="index.html">sem justo</a></li>
				<li><a href="index.html">semper</a></li>
				<li><a href="index.html">magna sed purus</a></li>
				<li><a href="index.html">tincidunt</a></li>
				<li><a href="index.html">consequat molestie</a></li>
				<li><a href="index.html">magna sed purus</a></li>
			</ul>
		</div>

	</div>

   <div class="col-a">

      <h3>Credits</h3>

      <div class="footer-list">
			<ul>
				<li><a href="http://jasonlarose.com/blog/110-free-classy-social-media-icons">
						110 Free Classy Social Media Icons by Jason LaRose
				    </a>
				</li>
            <li><a href="http://wefunction.com/2009/05/free-social-icons-app-icons/">
						Free Social Media Icons by WeFunction
				    </a>
				</li>
            <li><a href="http://www.famfamfam.com/lab/icons/">
						Free Icons by FAMFAMFAM
				    </a>
				</li>
			</ul>
		</div>

      <h3>Recent Comments</h3>

	   <div class="recent-comments">
         <ul>
			<li><a href="index.html" title="Comment on title">Whoa! This one is really cool...</a><br /> &#45; <cite>Erwin</cite></li>
			<li><a href="index.html" title="Comment on title">Wow. This theme is really awesome...</a><br /> &#45; <cite>John Doe</cite></li>
			<li><a href="index.html" title="Comment on title">Type your comment here...</a><br />&#45; <cite>Naruto</cite></li>
			<li><a href="index.html" title="Comment on title">And don't forget this theme is free...</a><br /> &#45; <cite>Shikamaru</cite></li>
         <li><a href="index.html" title="Comment on title">Just a simple reply test. Thanks...</a><br /> &#45; <cite>ABCD</cite></li>
			</ul>
		</div>

   </div>

   <div class="col-b">

      <h3>Archives</h3>

	   <div class="footer-list">
			<ul>
				<li><a href="index.html">January 2010</a></li>
				<li><a href="index.html">December 2009</a></li>
				<li><a href="index.html">November 2009</a></li>
				<li><a href="index.html">October 2009</a></li>
				<li><a href="index.html">September 2009</a></li>
			</ul>
		</div>

      <h3>Recent Bookmarks</h3>

	   <div class="footer-list">
			<ul>
				<li><a href="index.html">5 Must Have Sans Serif Fonts for Web Designers</a></li>
				<li><a href="index.html">The Basics of CSS3</a></li>
				<li><a href="index.html">10 Simple Tips for Launching a Website</a></li>
				<li><a href="index.html">24 ways: Working With RGBA Colour</a></li>
				<li><a href="index.html">30 Blog Designs with Killer Typography</a></li>
				<li><a href="index.html">The Principles of Great Design</a></li>
			</ul>
		</div>

	</div>

<!-- /footer-outer -->
</div></div>

<!-- footer-bottom -->
<div id="footer-bottom">

	<p class="bottom-left">
		&copy; 2010 <strong>Copyright Info</strong>&nbsp; &nbsp; &nbsp;
		<a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a>
	</p>

	<p class="bottom-right">
		<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
	   <a href="http://validator.w3.org/check/referer">XHTML</a>	|
		<a href="index.html">Home</a> |
		<a href="index.html">Sitemap</a> |
		<a href="index.html">RSS Feed</a> |
      <strong><a href="#top">Back to Top</a></strong>
   </p>

<!-- /footer-bottom-->
</div>
