<div id="sidebar">

  <div class="about-me">
    <% if signed_in? %>
      <%= render :partial => "common/sidebar_profile" %>
    <% else %>
      <%= render :partial => "common/sidebar_login" %>
    <% end %>
  </div>

  <div class="sidemenu">
    <h3>Categories</h3>
    <ul>
      <% Category.find(:all, :order => "title").each do |cat| %>
        <li><%= link_to cat, cat %>
      <% end %>
    </ul>
  </div>

</div>
