<h3>Welcome <%= current_user.username %></h3>
<p>
                      <a href="index.html"><img src="images/gravatar.jpg" width="40" height="40" alt="firefox" class="float-left" /></a>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
                           Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
                           posuere nunc justo tempus leo <a href="index.html">Learn more...</a>
                                </p>
