<h3>Login</h3>

<% form_for :session, :url => session_path, :html => {:id => "side_login"} do |form| %>
  <%= form.text_field :email, :size => 30, :placeholder => "email" %>
  <br />
  <%= form.password_field :password, :size => 30, :placeholder => "password" %>
  <br />
  <%= form.submit "Sign in", :disable_with => "Please wait..." %>
  or <b><%= link_to "Register", sign_up_path %></b>

<% end %>
