<html>
  <head>
    <title>RoR Quiz</title>
  </head>
  
<body>
  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end -%>
  </div>

  <%= yield %>
  
</body>
</html>
